@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #4d774e;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.auth-box {
  width: 400px;
  padding: 3em;
  background-color: #ffffff;
}

.plant-box {
  display: grid;
  width: 750px;
  padding: 2em;
  background-color: #ffffff;
}

.form-title {
  margin-bottom: 2em;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}
